*.o
*.a
*.lo
*.la
*.stamp
*.bak
*.tmp
*.swp
.tm*
~*

.deps
.libs
/autom4te.cache

/INSTALL
Makefile
Makefile.in
/aclocal.m4
/at-spi.schemas
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/cspi-1.0-uninstalled.pc
/cspi-1.0.pc
/depcomp
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/libloginhelper-1.0-uninstalled.pc
/libloginhelper-1.0.pc
/libspi-1.0-uninstalled.pc
/libspi-1.0.pc
/ltmain.sh
/missing
/mkinstalldirs
/py-compile
/stamp-h1
